<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <br>
    <footer  class="footer" style="background: #343a40 !important">
        <!-- Footer Elements -->
        <div class="footer-copyright text-center py-3">
            <span class="text-muted" style="font-weight: bold;">Corona Virus Tracker App.
                &copy;  <span id="copyright">
                            <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
                        </span>
                <a href="https://github.com/abduyevelvin?tab=repositories" target="_blank" style="color: #6c757d !important; font-style: italic;">
                    @abduyevelvin
                </a>
            </span>
        </div>
        <!-- Copyright -->

    </footer>
</div>