<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target sleep" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{home}"><img th:src="@{images/corona.png}" class="logo" alt=""></a>
            <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav nav ml-auto" id="navbar">
                    <li class="nav-item"><a th:href="@{home}" class="nav-link"><span>Home</span></a></li>
                    <li class="nav-item"><a th:href="@{death}" class="nav-link"><span>Death</span></a></li>
                    <li class="nav-item"><a th:href="@{recovered}" class="nav-link"><span>Recovered</span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
</header>